:root {
  --clr--orange: #e29468; /*Jupiter*/
  --clr--yellow: #ffd029; /*solen*/
  --clr--light-brown: #c7aa72; /*saturnus*/
  --clr--light-blue: #c9d4f1; /*uranus  */
  --clr--blue: #428ed4; /*jorden */
  --clr--grey-blue: #7a91a7; /*neptunus */
  --clr--red: #ef5f5f; /*mars     */
  --clr--grey-pink: #e7cdcd; /*venus     */
  --clr--grey: #888; /*merkurius     */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(90deg, #0c164d 0%, #190b22 100%);
  font-family: "Lora", serif;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  position: relative;
  z-index:-99;
}
.header1 {
  color: #fff;
  
  font-family: "Secular One";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 60px */
  letter-spacing: 5.4px;
  text-transform: uppercase;
}
.header2 {
  font-family: "Lora", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 24px */
  letter-spacing: 14.4px;
  text-transform: uppercase;
  color: var(--clr--yellow);
}

.header3 {
  font-family:  "Secular One";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 24px */
  letter-spacing: 9%;
  text-transform: uppercase;
  color: white;
}
.text {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  line-height: 170%; 
  color: white;
  
}

.header {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 2em 2em 0 2em;
  height:10em;
}

.header__titles {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 50px;
}

.header__search{
  display: flex;
  flex-direction: column;
 align-items: center;
 gap:2em;
}
.rocket {
  display: flex;
  gap: 0rem;
  height: 4.5em;
}

.rocket-body {
  background: var(--clr--grey);
  display: flex;
  flex-shrink: 0;
  align-items: center;
  padding: 0.5em;
  gap: 1em;
}

.search-btn {
  border-radius: 30px;
  background: #190b22;
  padding: 0.5em;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
}

.close-btn {
  border-radius: 30px;
  background: #190b22;
  padding: 0.5em; 
  margin: 0 1em;
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  z-index: 3;
  cursor: pointer;
}

.select-field {
  font-size: 20px;
  width: 200px;
  border: none;
  padding: 0.5em;
}

.rocket-top {
  border-top: 2.25em solid transparent; /* Half of the height */
  border-bottom: 2.25em solid transparent; /* Half of the height */
  border-left: 7em solid var(--clr--red);
}

.rocket-flames {
  height: 4.5em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 0.5em;
}
.rocket-flames--yellow {
  border-top: 0.5em solid transparent; /* Half of the height */
  border-bottom: 0.5em solid transparent; /* Half of the height */
  border-right: 6em solid var(--clr--yellow);
  border-radius: 10%;
  animation: fireFlames 0.6s ease-in-out infinite alternate;
}


.rocket-flames--orange {
  border-top: 1em solid transparent; /* Half of the height */
  border-bottom: 1em solid transparent; /* Half of the height */
  border-right: 9em solid var( --clr--orange);
  border-radius: 10%;
  animation: fireFlames 1s ease-in-out infinite alternate;
}

@keyframes fireFlames {
  0% {
    transform: scaleY(1);
    filter: brightness(100%);
  }
  50% {
    transform: scaleY(1.2) ;
    filter: brightness(150%);
  }
  100% {
    transform: scaleY(1);
    filter: brightness(100%);
  }
}


.error-message {
  justify-self: flex-start;
  border-style: dotted;
  border-color:   white;
  border-radius: 1em;
  width: fit-content;
  padding: 0 2em;
  margin-bottom: 1em;
  display: none;
}

.planet-space {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
  margin-top: -150px;
  padding-left: 100px;
  z-index: -1;
}
#sun {
  width: 1278px;
  height: 1278px;
  border-radius: 1278px;
  background: #ffd029;
  position: absolute;
  left: -1150px;
  box-shadow: 0px 0px 250px 0px rgba(255, 208, 41, 0.2);

}

.planet {
  display: flex;
  align-items: center;
  justify-content: center;
}

#merkurius {
  width: 14px;
  height: 14px;
  border-radius: 14px;
  background-color: var(--clr--grey);
 
}
#venus {
  width: 26px;
  height: 26px;
  border-radius: 26px;
  background-color: var(--clr--grey-pink);

}

#tellus {
  width: 28px;
  height: 28px;
  border-radius: 28px;
  background-color: var(--clr--blue);
 
}
#mars {
  width: 14px;
  height: 14px;
  border-radius: 14px;
  background-color: var(--clr--red);
}
#jupiter {
  width: 188px;
  height: 188px;
  border-radius: 188px;
  background-color: var(--clr--orange);
   }

#saturnus-container {
  width: 200px;
  height: 200px;
  display:flex;
  justify-content: center;
  align-items: center;
}
#saturnus {
  width: 144px;
  height: 144px;
  border-radius: 144px;
  background-color: var(--clr--light-brown);
}

#sat-ring{
 position:absolute;
  width:  190px;
  height: 15px;
  border-radius: 20px;;
  background-color: #ffffff98;
  transform: rotate(-25deg);
}

#uranus {
  width: 66px;
  height: 66px;
  border-radius: 66px;
  background-color: var(--clr--light-blue);
}
#neptunus {
  width: 66px;
  height: 66px;
  border-radius: 66px;
  background-color: var(--clr--grey-blue);
}

.tooltip {
  position: relative;
  background-color: rgba(255, 255, 255, 0.561);
  color: #0c164d;
  font-family: "Lora", serif;
  font-size: 24px;font-weight: 600;
  padding: 0.5em 1em;
  border-radius: 3em;
  width: fit-content;
 /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
display:flex;
justify-content: center;
align-items: center;
}



.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding: 3rem 0rem;
  top: 50%; /* Position from the top edge */
  left: 50%; /* Position from the left edge */
  transform: translate(-50%, -50%); /* Center the modal */
  width: 90%;
  height: 100%;
  margin: auto;

  background-color: rgba(223, 211, 211, 0);
}
.modal__info-container{
  width:50vw;
  margin:auto;
}

.text-container{
  padding: 32px  0px;
  max-height: 350px;
  overflow:auto;
}
.info-container{
  display: flex;
padding: 32px  0px;
border-top: 1px solid rgba(255, 255, 255, 0.302);
}

.info-box{
width: 50%;
}

.footer {
  position:absolute;
  bottom: 0;
  width:100%;
  display:grid;
  grid-template-columns: repeat(3, 1fr);
  height:5rem;
  align-content: center;
  padding: 0 20px;
  margin-top: 50px;
  margin-bottom: 20px;;
}

 .footer__logo{
  grid-column: 2;
  display:flex;
  justify-content: center;
  width:100%;
  }

  .footer__logo--image{
  margin-top: 2rem;
  }

  .footer__rocket{
    grid-column: 3;
    justify-content: end;
    width:100%;
    }






/*
.modalbackground {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  z-index: 2;
}
